<h1>Welcome to the Library Catalog</h1>

<!-- Login -->
<div class="login">
    <h2>Login to manage your books</h2>
    
</div>

<!-- Authors -->
<div class="authors">
    
</div>

<!-- Books -->
<div class="books">

</div>