<!-- Login -->
<div class="login-box">
    <h2>Login to manage your books</h2>
    <div class="link">
        <a href="https://github.com/login/oauth/authorize?client_id=Ov23liwRWHWpRGasKJ05&redirect_uri=http://localhost:8080/my-books&scope=user">Login with GitHub</a>
    </div>
</div>