<!-- My Books -->
 <div class="my-books">
    <h2>My Books</h2>
    <div id="book-cards"></div>
 </div>

 <script>
    const databaseBooks = <%- JSON.stringify(books) %>;
 </script>
 <script src="/js/my-books.js"></script>