body {
    margin: 3rem;
}

.login-box {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    border: 2px solid #63a375;
    border-radius: 10px;
}

.login-box h2 {
    margin: 0;
    padding: 1rem;
    background-color: #63a375;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.link {
    padding: 2rem;
}

.link a {
    text-decoration: none;
    color: white;
    background-color: #000;
    padding: 10px;
}

.link a:hover {
    background-color: #694d75;
}

.my-books h2 {
    text-align: center;
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

li {
    border: 2px solid #63a375;
    border-radius: 10px;
    margin: 3rem 1rem;
    flex: 1 1 200px;
    width: 50%;
    min-width: 400px;
    max-width: 500px;
}

li h3, li h5 {
    padding: 1rem;
    margin-top: 0;
    background-color: #63a375;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

li h3 {
    margin-bottom: -25px;
}

li h5 {
    margin-bottom: 0.5rem;
}

.info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.5rem;
    justify-content: space-around;
}

.info p {
    padding: 0 0.5rem;
}